*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    background-color: #1E1E1E;
}
.container{
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    gap: 5px;
  align-items: center;
    padding: 40px;
    background-color: #FF6b1a;
    color: white;
}
.header_box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.hidden_leaf{
    font-size: 24px;
    font-weight: bold;
}
.believe{
    font-size: 14px;
}

.burger_menu{
 background-color: #1a1a1a;
 padding: 17px 13px;
}

.burger_button{
    background-color: #ff6b1a;
    border: none;
    padding: 7px 17px 7px 13px;
    border-radius: 8px;
    color: white;
    font-size: 19px;

}

.burger_button:hover{
    cursor: pointer;
}
nav{
    display:none;
}

.hero {
    position: relative; 
    width: 100%;
    height: 377px;
    background-color: #2a2a2a; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 24px;
    gap: 15px;
    color: white;
    overflow: hidden; 
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/images/icon.svg);
    background-size: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; 
    z-index: 0;
}


.hero_title, .hero_text {
    position: relative;
    z-index: 1;
}

.hero_title {
    font-size: 24px;
    font-weight: bold;
}

.hero_text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
main{
    padding: 39px 26px 162px 25px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card{
     display: flex;
     height: 200px;
     flex-direction: column;
    /* align-items: center; */
    justify-content: start;
    gap: 10px;
    padding: 26px 45px 24px 24px;
    border-top: 4px solid #ff6b1a;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px #000000;
}

.section_box{
    display: flex;
    gap: 8px;
}

.main_section_title{
    font-size: 24px;
    font-weight: bold;
}

.main_section_text{
    font-size: 16px;
    line-height: 19px;
    color: #666666;

}

footer{
    padding: 38px 20px 37px 19px;
    background-color: #1a1a1a;
}

.footer_text{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
.footer_text1{
    display: none;
}

@media(min-width: 768px){
     .container{
        max-width: 768px;
    }
    .footer_text1{
        display: block;
    }
    .footer_text{
        display: none;
    }

    main{
 display: grid;
 justify-content: center;
 align-items: center;
 margin: auto;
 grid-template-columns: repeat(2, 1fr);
 padding-inline: 64px;
}
.burger_button{
   display: none;
}
nav{
    display: block;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:61px;
}

li{
    padding: 13px 17px;
    color:#ffffff;
font-size: 17px;
list-style: none;
}
li:hover{
    cursor: pointer;
    background-color: #ff6b1a;
    border-radius: 8px;
}
.footer_text1{
    display: block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.footer_text{
    display: none;
}
}


@media(min-width: 1700px){
    .container{
        max-width: 1920px;
    }

    .header_box{
        gap: 17.62px;
    }

    .icon{
        width: 57.86px;
        height:48.65px;
    }
.hidden_leaf{
    font-size: 40px;
}
.believe{
    font-size: 18px;
}



.hero{
    width: 100%;
    height: 400px;
    gap: 19px;
  
}
.hero::before{
    background-size: 20rem;
    
}

.hero_title{
    font-size: 40px;
}
.hero_text{
    font-size: 18px;
}

main{
 display: grid;
 justify-content: center;
 align-items: center;
 margin: auto;
 grid-template-columns: repeat(3, 1fr);
 padding-inline: 444px;
}
.card{
    max-width: 324px;
}


}